#CreatorWizard.fuelux-wizard.wizard
  .header
    %ol.steps
      %li{"data-target" => "#step1"}
        %span Your event
      %li{"data-target" => "#step2"}
        %span Some supplies
      %li{"data-target" => "#step3"}
        %span Your guests

  = simple_form_for(@party, html: { class: 'form-horizontal step-content' }) do |f|
    = f.error_notification
    #step1.step-pane
      .form-inputs
        = f.input :name
        = f.input :location
        = f.input :start_at, :as => :datepicker
        = f.input :description, input_html: { rows: 3 }
      .pull-right
        %a.btn.btn-mini.btn-next{:href => "#", "data-target" => "#step2"}
          next
          %i.icon-arrow-right
      .clearfix
    #step2.step-pane
      %a.btn.btn-template set list
      = f.simple_fields_for :items do |i|
        = render 'item_fields', :f => i
      .links
        .control-group.form-inputs
          %label.control-label
          .controls
            %input{:type => "text",:disabled => ""}
        = link_to_add_association 'add item', f, :items
      .pull-right
        %a.btn.btn-mini.btn-next{:href => "#", "data-target" => "#step3"}
          next
          %i.icon-arrow-right
      .clearfix
    #step3.step-pane
      This is step 3
      .form-actions
        = f.button :submit


- content_for :js do
  :javascript
    (function(){
      $('#CreatorWizard').wizard();
      $('#step2').itemlist();

      $('#step2 .btn-template').click(function(){
        $('#step2').itemlist('set-items', ['pizza', 'chips', 'bière']);
        return false;
      });
    }).call(this);
