%h1
  Organisez votre soirée

#CreatorWizard.fuelux-wizard
  .header
    %ul.steps
      %li{"data-target" => "#step1"}
        %span.badge.badge-info> 1
        Général
        %span.chevron
      %li{"data-target" => "#step2"}
        %span.badge> 2
        Fournitures
        %span.chevron
      %li{"data-target" => "#step3"}
        %span.badge> 3
        Invitations
        %span.chevron
    .clearfix
  = simple_form_for(@party, html: { class: 'form-horizontal step-content' }) do |f|
    = f.error_notification
    #step1.step-pane
      .form-inputs
        = f.input :name
        = f.input :location
        = f.input :start_at, :as => :datepicker
        = f.input :description, input_html: { rows: 3 }
      .pull-right
        %a.btn.btn-mini.btn-next{:href => "#", "data-target" => "#step2"}
          next
          %i.icon-arrow-right
      .clearfix
    #step2.step-pane
      = f.simple_fields_for :items do |i|
        = render 'item_fields', :f => i
      .links
        .control-group.form-inputs
          %label.control-label
          .controls
            %input{:type => "text",:disabled => ""}
        = link_to_add_association 'add item', f, :items
      .pull-right
        %a.btn.btn-mini.btn-next{:href => "#", "data-target" => "#step3"}
          next
          %i.icon-arrow-right
      .clearfix
    #step3.step-pane
      This is step 3
      .form-actions
        = f.button :submit


- content_for :js do
  :javascript
    var suggestions = ['titi', 'toto', 'tata', 'tutu'];
    var suggestions2 = [
      {"title":"pizza","desc":"is good with beer !","type":"nourriture salée"},
      {"title":"beer","desc":"is life...","type":"alcool"},
      {"title":"chips","desc":"and what about guacamole","type":"nourriture salée"},
      {"title":"guacamole","desc":"is the best :)","type":"nourriture salée"},
      {"title":"kitkats","desc":"have a break.","type":"nourriture sucrée"},
      {"title":"vodka","desc":"pour les hommes","type":"alcool"}
    ];
    var suggestions3 = [
      '<p class="repo-language">nourriture salée</p><p class="repo-name">pizza</p><p class="repo-description">is good with beer !</p>',
      '<p class="repo-language">alcool</p><p class="repo-name">beer</p><p class="repo-description">is life...</p>',
      '<p class="repo-language">nourriture salée</p><p class="repo-name">chips</p><p class="repo-description">what about guacamole?</p>',
      '<p class="repo-language">nourriture salée</p><p class="repo-name">guacamole</p><p class="repo-description">is the best :)</p>',
      '<p class="repo-language">nourriture sucrée</p><p class="repo-name">kitkats</p><p class="repo-description">have a break.</p>',
      '<p class="repo-language">alcool</p><p class="repo-name">vodka</p><p class="repo-description">pour les hommes</p>'
    ];
    (function(){
      $('#CreatorWizard').wizard();
      $('#step2').bind('cocoon:after-insert', function(){
        var $newField = $(this).find('.nested-fields').last().find('.controls input');

        $newField.typeahead({
          name: 'twitter-oss',
          prefetch: 'suggestions.json',
          template: [
            '<p class="repo-language">{{type}}</p>',
            '<p class="repo-name">{{value}}</p>',
            '<p class="repo-description">{{desc}}</p>'
          ].join(''),
          engine: Hogan
        });

        $newField.focus();
      });
    }).call(this);
