- content_for :title, @party.name

%h1= best_in_place @party, :name
%p= best_in_place @party, :start_at, type: :date
%p= best_in_place @party, :description, nil: t('.description')

.widget
  = form_tag participants_path(format: :js), remote: true, class: 'form-horizontal form-participants' do
    = hidden_field_tag "party[id]", @party.id
    .control-group
      %label.control-label Subscribe as
      .controls
        .input-append
          = text_field_tag 'participant[name]'
          = submit_tag '+', class: 'btn'
    .control-group
      %label.control-label Participants
      .controls
        .participants
          - @party.participants.includes(:items).each do |p|
            = render 'participants/avatar', p: p
        - if @party.participants.any?
          .help-block Click to see what the participant brings

.widget
  = form_tag settings_path(format: :js), remote: true, class: 'form-horizontal form-items' do
    = hidden_field_tag "party[id]", @party.id
    = hidden_field_tag "participant[id]", 0
    .control-group
      %label#stuff.control-label Stuff you bring
      .controls
        .items
          - @party.items.includes(:participants).each do |i|
            = render 'items/show', i: i
  = form_tag items_path(format: :js), remote: true, class: 'form-horizontal form-add-item' do
    = hidden_field_tag "party[id]", @party.id
    .control-group
      .controls
        .input-append
          = text_field_tag 'item[name]'
          = submit_tag '+', class: 'btn'
