!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) + ' - ' + t('.title') : t('.title')
    = stylesheet_link_tag :application, :media => "all"
    = csrf_meta_tags
    = yield :head
  %body{ class: [controller_name, action_name]}
    = yield :header
    #container.container
      = render 'layouts/messages'
      = content_for?(:content) ? yield(:content) : yield
    = javascript_include_tag :application
    = yield :js
